/* headings and main-text*/
h1 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 48px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 4.8px;
    text-transform: uppercase;
    color: #FFFFFF;
}
h2 {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 36px;
    line-height: 26px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
}
h3 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 22px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 6.82px;
    color: #FFFFFF;
}
h4 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
}
h5 {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 1.5px;
    color: #E8E8E8;
}
.slogan {
    font-size: 16px;
}
.main-text {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 26px;
    display: flex;
    align-items: center;
    letter-spacing: 1.6px;
    color: #E8E8E8;
}
.input-area {
    font-family: 'Josefin Sans', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 2.8px;
    color: #999999;
}

/*nav-appearance*/
.nav-appearance {
    text-decoration-line:none;
    padding: 15px;
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    color: #FFFFFF;
    &:hover {
        text-decoration: underline;
    }
}

/*button*/
button {
    font-family: 'Aleo', serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 26px;
    color: #FFFFFF;
    &:hover {
        text-decoration: underline;
        background-color: #2f55fd;
    }
}

/*all styles for fontawesome*/
.fas {
    color: white;
    font-size: 23px;
    text-align: center;
    position: relative;
    bottom: 10px;
}
.fa {
    font-size: 45px;
}
.fa-search, .fa-thumbs-up {
    color: #2f55fd;
}
.fa-check-circle {
    color: #FF6363;
}
.fab {
    padding: 10px;
    font-size: 20px;
    line-height: 26px;
    letter-spacing: 1.6px;
    color: #E8E8E8;
}
.fa-linkedin-in {
    color: #5474FD;
}